{% extends "base.html" %}{% load static %} {% load crispy_forms_tags %} {% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user_posts' post.user.email %}">{{ post.user }}</a>
      <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
      {% if object.user == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' object.id %}">Delete</a>
          </div>
        {% endif %}
    </div>

    {% if post.image %}
    <img
      src="{{ post.image.url }}"
      class="article-img"
      style="width: 40em; height: 20em; float: left; margin-right: 10px"
    />
      {% else %}
      <img src="{% static 'default.jpg' %}">
      {% endif %}

    <h2>
      <a class="article-title" href="{% url 'post_detail' post.pk %}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content |linebreaks }}</p>
  </div>
</article>
<hr />
<h2>Comments</h2>
<hr />
{% for comment in post.comments.all %}
<article class="media content-section">
  <div class="media-body">

    <div class="article-metadata">
      <a class="mr-2" href="#">{{ comment.user }}</a>
      <small class="text-muted">{{ comment.date_created }}</small>
    </div>
    <p class="article-content">{{ comment.content }}</p>
  </div>
</article>
{% endfor %}
<form method="post">
  {{ form | crispy }} {% csrf_token %}
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
{% endblock content %}
